<!DOCTYPE html>
<html>
<head>
  <title>DojoOvertime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:errors] %>
		<% flash[:errors].each do |e| %>
			<h5 class="bg-danger"><%= e %></h5>
		<% end %>
	<% end %>
<%= yield %>

</body>5
</html>
